/* 
    Document   : index.css
    Created on : Feb 15, 2012, 4:44:13 PM
    Author     : paul
    Description:
        Purpose of the stylesheet follows.
*/

#header-wrap {
	margin: 0 auto 20px auto;
        position: relative;
        float: none;
        width: auto;
        padding: 0;
        background: none;
}
div#site-title-div{
	width: 438px;
	height: 85px;	
	margin: 0px auto;
        background: url(images/logos/dcphotobooth-logo-slate-shadow-both-home.png) no-repeat 0 0;
        background-size: 438px 75px;
}
.main-menu {
	background: url(images/nav-bg.gif) repeat-x scroll left top transparent;
	width: 970px;
        font-size: 18px;
	margin:0 auto;
	float:none;
}
.main-menu ul{
    width: auto;
    float: left;
    visibility: hidden;
}
.main-menu li a {
        border-radius:0px;
        padding:12px 15px;
}
#site-title, 
#site-description {
    margin:10px auto 0; 
    float:none;
}
#site-description { 
	display: block;
	font-size: 20px;
	color: #0C2B43;
        margin: 0px;
        height: 55px;
        background: transparent url(images/header-bg.png) no-repeat bottom;
        opacity: 0.35;
}

a.twitter{
	right: -75px;
        top: 75px
}
a.facebook{
	right: -75px;
        top: 15px;        
}

#index-left{
    float:left;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom: 30px;
}
#index-right{
    float: right;
    width: 580px;
    margin-left: 20px;
    padding-top: 5px;
    margin-top:10px;
}
.home-section{
/*    margin: 10px 0 10px;*/
}
.home-section.bottom{
    margin-left:20px;
    margin-bottom: 70px;
}
.home-section-header{
    font-family: Lobster, Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
/*    font-weight: bold;*/
    text-shadow: 0px 1px 2px #3D3C3B;
    margin-bottom: 10px;
    color: #3D3C3B;
}
.home-section-description{
    margin-bottom: 5px;
    color: #3D3C3B;
    font-size: 18px;
    line-height: 1.1em;
}
.home-section-action{
    font-family: Lobster, Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
/*    font-weight: bold;*/
    text-shadow: 0px 1px 2px #CC4D22;;
    text-align: right;
    color: #CC4D22;
    padding-right: 30px;
    margin-bottom: 20px; 
    margin-top: -5px;
}
#index-header{
    background: #E2DBD1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
    -moz-box-shadow: 0px 0px 10px #888888;
    -webkit-box-shadow: 0px 0px 10px #888888;
    padding: 10px;
    margin: 0px 40px 20px;
    display: none;
}
#index-header:hover{
    box-shadow: 0px 0px 15px #CC4D22;
    -moz-box-shadow: 0px 0px 15px #CC4D22;
    -webkit-box-shadow: 0px 0px 15px #CC4D22;
}
#index-header .home-section-header{
    text-shadow: 0px 1px 2px #CC4D22;
    color: #CC4D22;
}
#index-event-photos-link{
    width: 50px;
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 0px 3px 15px;
    position: absolute;
    right: -75px;
    background-color: #FCF9F3;
    box-shadow: 5px 0px 5px #888888;
    -moz-box-shadow: 5px 0px 20px #888888;
    -webkit-box-shadow: 5px 0px 10px #888888;
    top: -24px;
    font-weight: bold;
    height: 50px;
}


@media (max-width: 1050px) {
  .mobile-collapse, #site-description, #main-menu    { display: none; }
  #index-right, .home-section  { width: auto; }
  #primaryContent   { float: none;  margin: 0px auto;}
}
@media (max-width: 800px) {
  #index-header-link    { display: none; }
  #canvas   { padding: 10px 0; }
  #primaryContent   { padding: 0 10px; }
  .home-section-action  { font-size: 18px; }
}